* {
    margin: 0;
    padding: 0;
}

#container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 130px 0 150px 480px; */
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
    box-shadow: 10px 10px;
}

.gridDiv {
    background-color: white;
    border: 1px solid black;
    }


/* .gridDiv:hover {
    background-color: black;
} */

.coloured {
    background-color: blue;
}